In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/water_potability.csv")

In [ ]:
data.sample(5)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
1881,6.832217,164.274393,14015.044769,6.055985,281.678040,389.978097,14.836637,44.367574,3.145416,0
779,7.591346,199.255322,25383.765183,7.924616,318.610478,416.445617,20.118827,48.271210,4.515150,1
2596,NaN,172.968203,24445.987540,7.032643,NaN,571.628892,11.549877,56.499207,4.725347,0
3259,9.271355,181.259617,16540.979048,7.022499,309.238865,487.692788,13.228441,NaN,4.333953,1
1179,5.470802,213.160478,18295.370921,6.043395,NaN,317.948459,13.789267,49.642451,2.962852,1

In [ ]:
data.fillna(data.mean(), inplace = True)
data.isnull().mean()*100

ph                 0.0
Hardness           0.0
Solids             0.0
Chloramines        0.0
Sulfate            0.0
Conductivity       0.0
Organic_carbon     0.0
Trihalomethanes    0.0
Turbidity          0.0
Potability         0.0
dtype: float64

In [ ]:
y = data['Potability']
X = data.drop(['Potability'],axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [ ]:
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [ ]:
rf.fit(X_train_scaled, y_train)

RandomForestClassifier()

In [ ]:
y_pred = rf.predict(X_test_scaled)

In [ ]:
print("Accuracy : ", metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.676500508646999